Django==5.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
psycopg2-binary==2.9.9
python-dotenv==1.0.0
gunicorn==21.2.0
whitenoise==6.8.2
Pillow==10.1.0
dj_database_url==2.3.0
django-cloudinary-storage==0.3.0
cloudinary==1.41.0